@page "/"
@inject IStringLocalizer<Index> Loc 

<h1>@Loc["Math exercises for children"]</h1>

<ul>
    <li>
        <NavLink href="tables">@Loc["7-8 year - Multiplication tables"]</NavLink>
    </li>
</ul>
